.container{
    position: fixed;
    width: 65vw;
    height: 100vh;
    top: 0;
    background-color: #09033A;
    z-index: 99;
    right: 0;
    /* right: 100%; */
    transition: all 1s;
}


.close{
    position:  absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
}


.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 150px;
    padding-bottom: 20px;
}